.textarea-container {
    position: relative;
  }

  .textarea-container textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  
  .textarea-container form {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .textarea-container img {
    position: relative;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
  }

  div.dropdown {
    position: absolute;
    top: 165px;
    right: 200px;
  }