<!DOCTYPE html>
<html lang="en">
<script>
    // Function to get value of cookie by the cookie's name
    function getCookie(name) {
    var cookieArr = document.cookie.split(";");
    for(var i = 0; i < cookieArr.length; i++) {
        var cookiePair = cookieArr[i].split("=");
        if(name == cookiePair[0].trim()) {
            return decodeURIComponent(cookiePair[1]);
        }
    }    
    return null;    // Return null if not found
}

function trimURL(url)
{
    // Gets index of the start of the post id in the page's URL
    var index = url.indexOf("postview/");
    index += 9;

    return url.substring(index);
}

// Variable that managed whether or not a reply button has been pressed already
var replyToggled = 0;

function makeReplyBox(clickedID)
{
    // Clears the form if it was toggled
    if(replyToggled == 1)
    {
       document.querySelector(".toggledReplyForm").remove();
    }

    replyToggled = 1;
    var form = document.createElement("form");
    form.setAttribute('method', "POST");
    form.setAttribute('action', "/postview/reply");

    // Makes the form class "toggledForm so that it can be found and closed with a querySelector(".toggledReplyForm")
    form.classList.add("toggledReplyForm");

    var text = document.createElement("input");
    text.setAttribute('type', "text");
    text.setAttribute('name', "reply_comment");

    var submit = document.createElement("input"); //input element, Submit button
    submit.setAttribute('type',"submit");
    submit.setAttribute('value',"Submit");

    var poster = document.createElement("input"); //input element, Submit button
    poster.setAttribute('type',"hidden");
    poster.setAttribute('name', "reply_author");
    poster.setAttribute('value',getCookie("username"));

    form.appendChild(text);
    form.appendChild(submit);
    form.appendChild(poster);

    document.getElementById(clickedID).parentElement.appendChild(form);

    // Set's form to request the proper post and comment id
    var url = "/postview/reply?id=".concat(trimURL(window.location.href));
    var spanID = "comment" + clickedID;
    var commentID = document.getElementById(spanID).getAttribute('comment-id');
    url += "&comment="+commentID;
    form.action = url;
}
    function logout() {
        console.log(document.cookie['username']);
        alert("you have logged out");
    }


    function checkComment()
    {
        if(document.getElementById("comment_on_post_comment").value == "")
        {
            alert("You cannot post an Empty Comment");
            document.getElementById("commentSubmit").type = "button";
            return;
        }
        else
        {
            document.getElementById("commentSubmit").type = "submit";
        }
    }
</script>

<head>
    <%- include('../partials/setup.ejs') %>
    
    <meta name="description" content="">
    <link rel='icon' href='../../resources/img/favicon.ico' type='image/x-icon' />
    
        <link href="../../resources/css/my_style.css" rel="stylesheet">
        <link rel="stylesheet" href="../../views/pages/homepage.css">
        <style type="text/css">
            #postAuthor {
                margin: auto;
                width: 75%;
                padding-left: 50px;
                font-size: 10px;
            }
            #postInfo {
                margin: auto;
                width: 75%;
            }

            #postComments {
                margin: auto;
                width: 75%;
            }

            #postTitle {
                padding-left: 50px;
            }

            #comments {
                margin: left;
                text-align: left;
            }

            .subcomment {
                text-align: left;
                padding-left: 50px;
            }

            .comment {
                text-align: left;
            }

            .commenterName {
                font-style: italic;
            }

            .commentContent {
                padding-left: 20px;
            }

            .commentOptions {
                font-style: italic;
            }

            /* Comment Indent */
            hr.indent{ 
                width: 50px;
                margin-left:0px;
            } 

            div, p, span{
                text-align: left;
            }
            
            table, tr, td{
                text-align: left;
                padding-bottom: 20px;
            }

            .author, .reply{
                font-size: 11px;
            }
        </style>
      <title><%= post.post_title %></title>
      <script>
        function logout() {
          const username=getCookie('username');
          alert(`${username} has been logged out.`);
        }
        function vote(voteNum, id)
        {
            var voteId = "voteNum"+id;
            voteNum = parseInt(voteNum);
            document.getElementById(voteId).textContent = parseInt(document.getElementById(voteId).textContent)+voteNum;
            $.post('/postview/vote',{voteAmount:voteNum,commentId:id });
        }
        function appendParent(parentID, childID)
        {
            document.getElementById(parentID).appendChild("test");
        }
      </script>
</head>

<body>
    <!--Navigation-->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <ul class="navbar-nav">
      <li class="nav-item active">
          <a class="nav-link" href="../home">Buff Forums </a>
      </li>

      <li class="nav-item">
          <a class="nav-link " href="../createPost">Create Post</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
          Profile
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" id = "currentUser"></a>
          <a class="dropdown-item" href="/login" onclick="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </nav>
  <script>
    var username = document.getElementById("currentUser");
    var textnodeu = document.createTextNode("Username: " + getCookie("username"));
    username.appendChild(textnodeu);
  </script>



    <!--Post information-->
    <br><br><br>
    <div class="jumbotron" id="postInfo">
        <%  var postContent = ''; ;
            if(post){
                var title = `<h4 id="postTitle">${post.post_title}</h4>`;
                var author = `<span id="postAuthor">Posted by: ${post.post_creator_name}</span>`;
                var content = `<div id="postContent">${post.post_text_content}</div>`;
                postContent = `${title}${author}<br><hr>${content}`;
        %>

        <%- postContent %>
        <% } %>
    </div>


    <!--Comments-->
    <br>
    <div class="jumbotron" id="postComments">
        <div class="text-center" id="commentsList" class=".commentsList">

            <%
                var commentRow = '';
                var replyID = 0; <!---Creates a new ID for every reply button so that the makeReplyBox function appends the reply form to the correct location -->

                  
                comments.forEach(function(item){
                    replyID++;
                    <!--HTML for up/down voting-->
                    var voting = `<div>
                        <input type="image" src="../../resources/images/upvote.png" id="vote" onclick="vote(1,'${item.id}')" />
                        <span id='voteNum${item.id}' >${item.vote_amount}</span>
                        <input type="image" src="../../resources/images/downvote.png" id="vote" onclick="vote(-1,'${item.id}')" />
                        </div>`;
                    

                    
                    commentRow = `<div id = 'row${item.id}' class="cRow" parent-id='${item.parent}' own-id='${item.id}'>`; <!--Adds voting and indentation to row-->
                    <!--Adds indents for number of parent comments(Does not work!) -->
                    if(item.parent != null)
                    {
                        commentRow += '<hr class="indent">';
                    }
                    commentRow += `${voting}`; <!--Adds voting and indentation to row-->

                    <!--Gets info from get request and stores in p tags -->
                    var comment = `<span id='comment${replyID}' comment-id='${item.id}' class="comment">${item.content}</span>`;
                    var author = `<span class="author">Posted by ${item.author}</span>`;
                    
                    <!--for replying to comment. Calls function from ../../resources/js/comments.js that creates a form to make a comment-->
                    var reply = `<a id='${replyID}' class="reply" href="javascript:void(0)" onclick="makeReplyBox(this.id)">Reply</a>`;

                    commentRow += `<div>${comment}<br>${author}  ${reply}</div>`; <!--Adds comments info to row-->
                    
                    commentRow += `</div>`; <!--Ends row-->

                %>    
                    <%- commentRow %>
                <%}); %>
                
    <script>
        var container = $("#commentsList");
        var children = container.children();
        container.empty();
        children.each(function(item){
            if($(item).data("parent-id") == null)
            {
                container.append(item);
            }
            else
            {
                var parentid = $(item).data("parent-id");
                $('#'+parentid).append(item);
            }
        });
    </script>
        </div>
    </div>


    <!--Create a new comment-->
    <div class="container">
        
        <p></p>
        <!--Button to show comment box-->
        <a class="btn btn-primary mx-auto d-block" data-toggle="collapse" href="#commentButton" role="button"
            aria-expanded="false" aria-controls="commentButton">
            Comment on Post
        </a><br>
        <div class="collapse" id="commentButton">
            <div class="form">
                <form id="comment_on_post_form" action="/postview/comment" method="POST">
                    <!-- Sets query of form to include post's id by parsing the URL -->
                    <script>document.getElementById("comment_on_post_form").action = "/postview/comment?id=".concat(trimURL(window.location.href));</script>

                    <!--Field for comment text-->
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="10" type="textarea" id="comment_on_post_comment" name="comment_on_post_comment" placeholder=""></textarea><br>
                    
                    <!--Hidden fields for post id and author.
                        Sets post_author using cookie-->
                    <input type='hidden' id= 'comment_on_post_author' name='comment_on_post_author' value=''>
                    <script>document.getElementById("comment_on_post_author").value = getCookie("username");</script>
                    <!--Submit button. Calls app.post(/postview/comment) request in server.js-->
                    <input type="submit" value="Submit" id="commentSubmit" onclick="checkComment()">
                </form>
            </div>
        </div>
    </div>

    <br>
</body>

</html>