<!DOCTYPE html>
<html lang="en">
<script>
    function postComment() {
        if(document.getElementById("comment").value == "")
        {
            alert("You cannot post an Empty Comment");
            return;
        }
        var post = document.createElement("P");
        var username = document.createElement("P");
        var content = document.createElement("P");
        var edit = document.createElement("BUTTON");
        var deleteB = document.createElement("BUTTON");
        edit.className = "btn btn-outline-primary btn-sm";
        edit.innerText = "edit";
        deleteB.className = "btn btn-outline-primary btn-sm";
        deleteB.innerText = "delete";
        username.innerText = "Example Username";
        username.style.fontStyle = "italic";
        content.innerText = document.getElementById("comment").value;
        post.style.borderBottom = "1px solid grey";
        content.style.textIndent = "20px";
        document.getElementById("postedComments").appendChild(post);
        post.appendChild(username);
        post.appendChild(content);
        post.appendChild(edit);
        post.appendChild(deleteB);
        document.getElementById("comment").value = "";
    }
</script>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <p></p>
        <a class="btn btn-primary mx-auto d-block" data-toggle="collapse" href="#commentButton" role="button"
            aria-expanded="false" aria-controls="commentButton">
            Create Comment
        </a>
        <div class="collapse" id="commentButton">
            <div class="form">
                <label for="comment">Comment:</label>
                <textarea type="text" class="form-control" id="comment"></textarea>
                <button id="submitComment" class="btn btn-primary mx-auto d-block"
                    onclick="postComment()">Submit</button>
            </div>
        </div>
        <div id = "postedComments">

        </div>
        <p></p>


    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>