<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/setup.ejs') %>
  <link rel="stylesheet" href="/views/pages/createPost.css">
  <!-- css for navbars -->
  <link rel="stylesheet" href="/views/pages/homepage.css">
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <h2>Buff Forums</h2>
      </li>
  
      <li>
        <a class="nav-link" href="./home">Home</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="./postView">Post View</a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link " href="./createPost">Create Post</a>
      </li>
  
    </ul>
  </nav>


  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="subforumButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select a Subforum
    </button>
    <div id="subreddit" class="dropdown-menu" aria-labelledby="subforumButton">
    </div>
    
    <% if (data) %>
    </div>
    
    <div class="container">
        <p></p>
        <h1>Create New Post</h1>

        <div class="details">

          <form id="make_post" action="/createPost/create" method="POST">
            <div class="form-group">
              <label for="comment">Title:</label>
              <textarea class="form-control" rows="1" name="post_title" id="post_title"></textarea>
            </div>
            <div class="textarea-container">
              <label for="comment">Details:</label>
              <textarea class="form-control" rows="15" name="post_details" id="post_details"></textarea>
            </div>
            <br>
            <!-- Temp Image submission -->
            <!-- <input type="file" id="myFile" accept="image/*" onchange= "loadFile(event)">
            <img id = "output"/> -->
            <button type="submit" class="btn btn-primary mx-auto d-block">Publish</button>
          </form>
        </div>
    </div>

</body>
</html> 