<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/setup.ejs') %>
  <link rel="stylesheet" href="/views/pages/homepage.css">
  <script src="../../resources/js/voting.js"></script>
  <title>Buff Forums Home</title>
</head>
<body>
  <!--Navigation-->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <ul class="navbar-nav">
      <li class="nav-item active">
          <a class="nav-link" href="/home">Buff Forums </a>
      </li>

      <li class="nav-item">
          <a class="nav-link " href="/createPost">Create Post</a>
      </li>
    </ul>
  </nav>
  
  <!--Subforum sidebar-->
  <div class="sidenav">
    <h2> Sidebar </h2>
    <%
    if(subForums) {
      var subForumTag='';
      subForums.forEach(function(forumInfo)
      {
        var subForumLink = forumInfo.subforum_name;
        subForumTag = `<a href="/b/${subForumLink}">${subForumLink}</a>`
    %>
        <%- subForumTag %>
    <%
      });
    }
    %>
  </div>

  <br><br>
  
  <!-- List of posts -->
    <div class="main">
      <div class="postList">
          <div id="wrapper">
            
            <table id="postContent" style="table-layout: fixed;">
              <%  var i = 0;
                  var postRow = '';
                  posts.every(function(item){
                    <!--HTML for up/down voting-->
                    var voting = '<td id="votingOp"><div>'+
                      `<form action="/home/vote" method="POST"><input type="image" src="../../resources/images/upvote.png" id="${i}upvote" onclick="vote(1)" />`+
                      '<span id="voteNum" >'+item.vote_amount+'</span>'+
                      `<input type="image" src="../../resources/images/downvote.png" id="${i}downvote" onclick="vote(-1)" /></form>`+
                      '</div></td>';
                    postRow = '<tr>'+ voting; <!--Adds voting to row-->
                    

                    <!-- Gets info from get request and stores in span tags -->
                      <!-- var preview = `<img src='' style='max-width:100%; max-height:100%'>`;-->
                    var title = '<span class="title">'+item.post_title+'</span><br>';
                    var author = '<span class="author">Posted by '+item.post_creator_name+'</span>';

                    <!-- Links the row to its appropriate post link -->
                    postRow += `<td class="postInfo"><a href="/postview/${item.post_id}">${title+author}</td>`; <!--Adds post info to row-->
                    
                    postRow += '</a></tr>'; <!--Ends row-->
              %>
                
                <%- postRow %>
                <%  i++;
                    <!-- Only shows 50 posts on homepage -->
                    if(i < 50){return true} 
                    });
                %>
            </table>
        </div>
      </div>
    </div>

    <br><br>

  </body>

</html> 
