<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/setup.ejs') %>
  <link rel="stylesheet" href="/views/pages/homepage.css">
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
    <li class="nav-item active">
        <h2>Buff Forums</h2>
    </li>

    <li>
        <a class="nav-link" href="./home">Home</a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" href="./postview">Post View</a>
    </li>

    <li class="nav-item">
        <a class="nav-link " href="./createPost">Create Post</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="./registerPage">Create an Account</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="./login">Login</a>
    </li>

    </ul>
  </nav>
    <div class="sidenav">
      <h2>Sidebar</h3>
      <a href="#">Example Subbreddit</a>
      <a href="#">Example Subbreddit</a>
      <a href="#">Example Subbreddit</a>

    </div>
    
    <div class="main">
      <h2>Main Page Content</h2>
    </div>  
    

    </body>
</html> 
