body {
    margin: 0;
    padding: 0;
    background: url(6d91d6cfc1bf3a6abe224a47c38196c9.jpeg);
    background-size: cover;
}

.login-text h1{
    color: rgb(0, 0, 0);
}

.login-text h4{
    color: #ffd469;
}

.container{
    color: rgb(255, 255, 255);
}

.container a{
    color:white;
    font-size: 17px;
}
