<!-- Page for Registration -->
<!-- Dylan Kriegman March 30, 2021-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS from Bootstrap CDN-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/views/pages/forms.css">

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <title>Registration</title>
    </head>
    

    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="register-navbar">
            <a class="navbar-brand">
                <span class="navbar-text">
                    Buff Forums
                </span>
               
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="/register">Registration</a>
                </li>
            </ul>
        </nav>
   
        <div class="container" id="formContainer">
            <div class="col-auto-sm">
                <form class="registrationForm" novalidate>

                    
                    <div class="form-group">
                        <label for="userNameInput" class="form-label">Username</label>
                        <input type="text" class="form-control" id="userNameInput" placeHolder="Username" size=20 required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div id="invalidUserNameFeedback" class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <label for="passwordInput">Password</label>
                        
                        <input type="password" class="form-control" id="passwordInput" placeHolder="Password" name="originalPassword" size=25 required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>  
                        <div id="invalidPasswordFeedback" class="invalid-feedback">
                            Please choose a password.
                        </div>
                        <small class="form-text text-muted">
                            <a>
                                Passwords must be at least 8 characters and contain a lowercase letter, uppercase letter, and number
                     
                            </a>
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="confirmPasswordInput">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPasswordInput" placeHolder="Password" name="confirmPassword" size=25 required>
                        <div class="valid-feedback">
                            Looks good!
                        </div> 
                        <div id="invalidConfirmationFeedback" class="invalid-feedback">
                            Please confirm your password.
                        </div>
                        
                    </div>


                    <div class="form-group">
                        <label for="emailInput">Email</label>
                        <input type="email" class="form-control" id="emailInput" placeholder="Enter email" size=25 required >
                        <div class="valid-feedback">
                            Looks good!
                        </div> 
                        <div class="invalid-feedback">
                            Please enter your email.
                        </div>
                        
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  
                    </div>

                    <button type="Submit" class="btn btn-primary">Submit</button>
                    <small class="form-text text-muted">
                        
                        <a href='/login'>
                            Already have an account?
                        </href>
                    </small>
                </form>

                <!-- Script for Validating Form Input-->
                <!-- Next steps-->
                <!-- Check if the username/email are already in the databse -->
                <!-- Check if password equals confirmation-->
                <!-- Check if password meets security requirements -->
                <!-- If all checks pass, add user to database and login -->
                    
                <script>
                    // returns true if the password is strong, false otherwise
                    // a password is strong if it is more than 8 characters and contains at least 1
                    // character that is uppercase, lowercase, and numerical

                    window.addEventListener('load', function() {
                        
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('registrationForm');

                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function(form) {

                        form.addEventListener('submit', function(event) {
                 
                            var passwordElement=document.getElementById("passwordInput");
                            var confirmationElement=document.getElementById("confirmPasswordInput");
                            var userNameElement=document.getElementById("userNameInput");

                            var passwordInput=String(passwordElement.value);
                            var confirmationInput=String(confirmationElement.value);
                            var userNameInput=String(userNameElement.value);

                            //check if the user name contains whitespace
                            var containsWhiteSpace=userNameInput.indexOf(' ')!==-1

                            userNameElement.setCustomValidity(containsWhiteSpace ? "bad":"");

                            //modify error message for user name with whitespace
                            if(containsWhiteSpace) {
                                document.getElementById("invalidUserNameFeedback").innerHTML="Sorry, user name's cannot contain whitespace"
                            }

                            //check if password is storng
                            var isLongEnough=passwordInput.length>=8
                            var containsDigits=passwordInput.match(/[0-9]/g);
                            var containsLowerCase=passwordInput.match(/[a-z]/g);
                            var containsUpperCase=passwordInput.match(/[A-Z]/g);                            
                            var isPasswordStrong=isLongEnough && containsDigits && containsLowerCase && containsUpperCase;

                            //check if password is strong and equals confirmation
                            passwordElement.setCustomValidity((passwordInput===confirmationInput && isPasswordStrong) ? "" : "bad")
                            confirmationElement.setCustomValidity((passwordInput===confirmationInput && isPasswordStrong) ? "" : "bad")
                        
                            //modify error message for non-matching confirmation
                            if(passwordInput!==confirmationInput) {
                                document.getElementById("invalidPasswordFeedback").innerHTML="Sorry, your passsword doesn't match the confirmation"
                                document.getElementById("invalidConfirmationFeedback").innerHTML="Sorry, your passsword doesn't match the confirmation"
                            }

                            //modify error message for weak passwords
                            else if(isPasswordStrong===false) {
                                document.getElementById("invalidPasswordFeedback").innerHTML="Sorry, your password is too weak"
                                document.getElementById("invalidConfirmationFeedback").innerHTML="Sorry, your password is too weak"
                            }
         
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            else {
                                event.preventDefault();
                                //redirects user to login page if validation passes
                                //send post request to server using jquery
                                
                                var reqUrl=window.location.href + "/create"
                                console.log(reqUrl);
                                $.post(reqUrl,{newUsername:userNameInput,newPassword:passwordInput})
                                 //successful get request - redirect based on feedback 
                                .done(function(data) {
                                    const registrationWorked=data.registrationWorked;
                                    
                                    //sucessful registation - redirect to login
                                    if(registrationWorked===true) {
                                        window.location.pathname='login';
                                        alert(`Welcome to Buff Forums ${userNameInput}!\n Redirecting to login Page!`);
                                    }
                                    //failed registation - display error
                                    else {
                                        console.log("Registration failed");
                                    }
                                });
                                
                                console.log("redirecting user to loginPage");
                            }
                            form.classList.add('was-validated');
                        }, false);
                        });
                    }, false);
           
                </script>
                

            </div>

        </div>
        <!-- Bootstrap JavaScript Dependencies -->
        <!-- jQuery, Popper.js, and Boostrap JS -->
        
        <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    </body>
</html>






