<!DOCTYPE html>
<html>
<head>
<%- include('../partials/setup.ejs') %>
<script src="../js/voting.js"></script>
<style>
    #wrapper{
        padding-left: 10%;
    }
    #votingOp{
        padding-left: 10px;
        width: 10px;
    }

    #postContent{
        padding: 200px;
        width: 50%;
        text-align: center;
        border: 1px solid black;
    }
</style>
</head>
<body>
    <!-- <div class="container">
        <div class="card">
            <div class="wrapper" >
                <div id ="votingOp">
                    <input type="image" src="./upvote.png" id="vote" onclick="vote(1)" />
                    <p id="voteNum" >0</p>
                    <input type="image" src="./downvote.png" id="vote" onclick="vote(-1)" />
                    
                </div>

            </div>
            <div id="postContent">
                
            </div>
          </div>

    </div> -->
    <div id="wrapper">

        <table id="postContent">
            <tr>
                <td id="votingOp"><div>
                    <input type="image" src="../images/upvote.png" id="vote" onclick="vote(1)" />
                    <p id="voteNum" >0</p>
                    <input type="image" src="../images/downvote.png" id="vote" onclick="vote(-1)" />
                </div></td>
                
                <th>
                    Title <!-- Post content should be in here somewhere. These table entries and positions are just tests.-->
                </th>
                <td>
                    test2
                </td>
            </tr>
            
        </table>
    </div>
</body>